$dark: #001529;
$blue: #1890FF;

.resizer {
  width: 18px;
  background: $dark;
  z-index: 500;
  position: relative;
  border-right: 3px $dark solid;

  &:hover {
    border-right: 3px $blue solid;
  }

  &:active {
    border-right: 3px $blue solid;
  }

  &__cursor {
    cursor: ew-resize;
  }

  &__cursor_left {
    cursor: w-resize;
  }

  &__cursor_right {
    cursor: e-resize;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 4px;
    width: 25px;
    height: 25px;
    background-color: $blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}