$dark: #001529;
$blue: #1890FF;

.logo {
  width: 300px;
  margin-left: 24px;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sider__wrapper {
  background: $dark;
  overflow: scroll;
  position: relative;
  padding-right: 10px;
}

.sider__link {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0,
}

.mobile-placeholder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  background-color: $dark;
  color: #fff;
}